

    .body{
       
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: rgb(255, 255, 255);
        font-family: Harrington;
    }