.rowForProject {
    display: grid;
    grid-template-columns:  30% 30% 30%;
    justify-content: space-evenly;
    width: 70%;
    margin: 100px auto;
    box-sizing: border-box;
    overflow: hidden;
}

.projectDiv {
    display: block;
    padding: 10px 5px;


}

.projectCol {
    padding: 50% 10px;
    height: 400px;
    border-radius: 10px;
    border: 1px solid white;
    background: linear-gradient(to top, #000012, #1e1e58, #000012);
    box-shadow: inset 1px 1px 10px rgba(250, 252, 252, 0.96);
    transition: 1s;
}

.projectCol ul {
    list-style: none;
}

.projectCol ul span {
    text-shadow: -1px 2px 0px rgb(255, 255, 255);
}

.projectCol:hover {
    box-shadow: inset 1px 1px 10px rgba(0, 191, 255, 0.743);
    text-shadow: -1px 2px 0px rgb(255, 255, 255);
    color: black;
    transition: 1s;
}

@media only screen and (max-width:1200px) {
    .rowForProject {
        width: 90%;

    }
 

}


@media only screen and (max-width:768px) {
    .rowForProject {
        width: 50%;
        display: block;
        margin-bottom: 0;
    }

    .projectDiv {
        height: 400px;
        padding: 0 ;
        margin: 0 ;
    }

    .projectCol {
        height: 500px;
        margin: 0;
    }

    #lastChild {
        height: 400px;
    }
}


@media only screen and (max-width:475px) {
    .rowForProject {
        width: 80%;
       
    }

    .projectDivP {
        height: 400px;
       
    }

    .projectCol {
        height: 450px;
        margin: 0 auto;
    }

}