/* hidden form carousel */
.carousel-indicators button {
    display: none !important;
}

#prjectsComponentMain {
    margin: 20px 0;
    padding: 50px 0;
    background: linear-gradient(to top, #000012, #1e1e58, #000012);
}

#projectSilder {
    width: 60%;
    margin: 0px auto;
    box-shadow: 0 0 15px 0px white;
    border-radius: 20px;
    border: 0.5px solid rgb(255, 255, 255);

}

#projectSilder .carousel img {
    border-radius: 20px;

}

.layer{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #00000049;
    border-radius: 20px;
    z-index: 0;
}

.willHide{
    font-size: 12px;
}

.seeMoreProjBtn{
    color: white;
    background: none;
    padding: 5px;
    font-style: italic;
    font-size: 16px;
    border: 1px solid white;
    text-decoration: none;
    margin: 80px auto 10px;
}


@media only screen and (max-width:768px) {

    #projectSilder {
        width: 90%;
    }
    
}




@media only screen and (max-width:575px) {

    
    .willHide{
      display: none;
    }
}